{% for group in ldap_groups %}
# Begin Templated Group: {{ group.name }}
dn: cn={{ group.name }},ou=Group,{{ ldap_base_dn }}
objectClass: top
objectClass: posixGroup
cn:{{ group.name }}
gidNumber: {{ group.gid }}

# End Templated Group

{% endfor %}
