# Entry: cn=docker,ou=sudoers,{{ ldap_base_dn }}
dn: cn=docker,ou=sudoers,{{ ldap_base_dn }}
cn: docker
objectclass: sudoRole
objectclass: top
sudocommand: /usr/sbin/docker
sudohost: ALL
sudooption: !authenticate
sudoorder: 2
sudorunasuser: root
sudouser: %docker

# Entry: cn=wheel,ou=sudoers,{{ ldap_base_dn }}
dn: cn=wheel,ou=sudoers,{{ ldap_base_dn }}
cn: wheel
objectclass: sudoRole
objectclass: top
sudocommand: ALL
sudohost: ALL
sudoorder: 2
sudorunasuser: ALL
sudouser: %wheel
