{% for person in people %}
# Begin Templated User: {{ person.cn }}
dn: uid={{ person.uid }},ou=People,{{ ldap_base_dn }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
objectclass: ldapPublicKey
uid: {{ person.uid }}
cn: {{ person.cn }}
sn: {{ person.sn }}
givenName: {{ person.givenName }}
title: {{ person.title }}
mobile: {{ person.mobile }}
mail: {{ person.mail }}
loginShell: {{ person.shell }}
uidNumber: {{ person.uidNumber }}
gidNumber: {{ person.gidNumber }}
homeDirectory: /home/{{ person.uid }}
userPassword: {{ person.password }}
{% if "sshpublickey" in person.keys() %}sshpublickey: {{ person.sshpublickey }}{% endif %}
description: This user was created from Ansible

# End Templated User

{% endfor %}

