# Manager, {{ ldap_domain }}
dn: cn=Manager,{{ ldap_base_dn }}
cn: Manager
description: LDAP administrator
objectClass: organizationalRole
objectClass: top
roleOccupant: {{ ldap_base_dn }}

# People, {{ ldap_base_dn }}
dn: ou=People,{{ ldap_base_dn }}
ou: People
objectClass: top
objectClass: organizationalUnit

# Groups, {{ ldap_base_dn }}
dn: ou=Group,{{ ldap_base_dn }}
ou: Group
objectClass: top
objectClass: organizationalUnit
