version: '2'
services:
  openldap:
    # image: osixia/openldap:1.5.0
    build:
      context: ./openldap/
      dockerfile: Dockerfile
    container_name: openldap
    environment:
      LDAP_LOG_LEVEL: "256"
      LDAP_ORGANISATION: "{{ org_name }}"
      LDAP_DOMAIN: "{{ ldap_domain }}"
      LDAP_BASE_DN: "{{ ldap_base_dn }}"
      LDAP_ADMIN_PASSWORD: "{{ ldap_admin_password }}"
      LDAP_CONFIG_PASSWORD: "{{ ldap_config_password }}"
      LDAP_READONLY_USER: "false"
      LDAP_RFC2307BIS_SCHEMA: "false"
      LDAP_BACKEND: "mdb"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "ldap_server.crt"
      LDAP_TLS_KEY_FILENAME: "ldap_server.key"
      LDAP_TLS_DH_PARAM_FILENAME: "ldap_dh.pem"
      LDAP_TLS_CA_CRT_FILENAME: "ldap_ca.cert.pem"
      LDAP_TLS_ENFORCE: "false"
      LDAP_TLS_CIPHER_SUITE: "SECURE256:-VERS-SSL3.0"
      LDAP_TLS_VERIFY_CLIENT: "try"
      LDAP_REPLICATION: "false"
      KEEP_EXISTING_CONFIG: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "true"
      LDAP_SSL_HELPER_PREFIX: "ldap"
    tty: true
    stdin_open: true
    volumes:
      - ./volumes/openldap/database:/var/lib/ldap
      - ./volumes/openldap/config:/etc/ldap/slapd.d
      - ./volumes/openldap/certificates:/container/service/slapd/assets/certs/
    ports:
      - "389:389"
      - "636:636"
    domainname: "aicampground.com"
    hostname: "ldap-server"
    networks:
      - ldap_net
  phpldapadmin:
    image: osixia/phpldapadmin:latest
    container_name: phpldapadmin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8080:80"
    depends_on:
      - openldap
    networks:
      - ldap_net

networks:
  ldap_net:
    name: ldap_net
