dn: olcDatabase={1}mdb,cn=config
changetype: modify
replace: olcAccess
olcAccess: to * by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage by * break
olcAccess: to attrs=userPassword,shadowLastChange by self write by dn="cn=admin,{{ ldap_base_dn }}" write by anonymous auth by * none
olcAccess: to * by anonymous  read by dn="cn=admin,{{ ldap_base_dn }}" write by * none 
