dn: uid=ldaplookup,ou=ServiceAccounts,{{ ldap_base_dn }}
objectClass: simpleSecurityObject
objectClass: top
objectClass: person
objectClass: uidObject
uid: ldaplookup
cn: LDAP Lookup Service Account
sn: Lookup
description: Service account for read-only access to perform DN lookups
userPassword: {CLEARTEXT}{{ ldap_service_account_password }}
