version: 1

dn: ou=sudoers,{{ ldap_base_dn }}
objectClass: organizationalUnit
objectClass: top
ou: sudoers

dn: cn=defaults,ou=sudoers,{{ ldap_base_dn }}
objectClass: sudoRole
objectClass: top
cn: defaults
sudoOption: env_reset
sudoOption: mail_badpass
sudoOption: secure_path=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
sudoOrder: 1
